@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
  --color-border-rgb: 0, 0, 0;

  --color-bg-fill-rbg: 201, 203, 163;
}

/* @media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
    --color-border-rgb: 66, 66, 66;

    --color-bg-fill-rbg: 114, 116, 66;
  }
} */

.footer {
  border-top: 1px solid rgb(var(--color-border-rgb));
  margin: 0 16px;
}

header {
  border-bottom: 1px solid rgb(var(--color-border-rgb));
}


.logo {
  fill: rgb(var(--foreground-rgb));
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(to bottom,
      transparent,
      rgb(var(--background-end-rgb))) rgb(var(--background-start-rgb));
}

.background-reverse {
  background-color: rgb(var(--foreground-rgb))
}

.background-corrected {
  background: linear-gradient(to bottom,
      transparent,
      rgb(var(--background-end-rgb))) rgb(var(--background-start-rgb));
}

.color-reverse {
  color: rgb(var(--background-end-rgb));
}

.videoInfo {
  background-color: rgb(var(--color-bg-fill-rbg));
}